<div class="container-fluid repo-container">

  <div class="card">
    <div class="card-header">
      List of Contributors for "angular5/repo"
    </div>
    <div class="card-body">

      <div class="row">


        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->

        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
              </p>
              <h4 class="card-title">
                <a href=""> Sunlimetech </a>
              </h4>

              <button class="btn btn-primary btn-sm">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->




      </div>

    </div>
  </div>
