<div class="container-fluid repo-container">

  <div class="card">
    <div class="card-header">
      List of Contributors for "angular5/repo"
    </div>
    <div class="card-body">

      <div class="row">


        <!-- Contributor -->
        <div class="col-xs-12 col-sm-6 col-md-3 contributor-card" *ngFor="let contributor of contributors">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class=" img-fluid contributor-avatar" [src]="contributor.avatar_url" alt="card image">
              </p>
              <h4 class="card-title">
                <a href="{{ contributor.html_url }}" target="_blank"> {{ contributor.login }} </a>
              </h4>

              <button class="btn btn-primary btn-sm" (click)="followContributor(contributor.login)">Follow
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- ./Contributor -->





      </div>

    </div>
  </div>
