.error-template {padding: 40px 15px;text-align: center; color: #fff;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn-primary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
