<div class="container search-container">
  <form #searchForm="ngForm" (ngSubmit)="searchRepo(searchQuery.value)">
    <div class="input-group mb-3">
      <input type="text" #searchQuery class="form-control search-input-bar" placeholder="Search Repo" aria-label="Search Repo"
        aria-describedby="basic-addon2" required>
      <div class="input-group-append">
        <i class="fa fa-search search-icon" (click)="searchRepo(searchQuery.value)"></i>
      </div>
    </div>
  </form>
</div>

<div class="container repo-container" *ngIf="searchContainer">

  <div class="card">
    <div class="card-header">
      Repositories that maches "{{ searchQuery.value }}"
    </div>
    <div class="card-body">

      <div class="row" *ngIf="!searchData">
        <div class="col-xs-12 col-sm-6 col-md-3">OOPS! No repository available!</div>
      </div>
      <div class="row" *ngIf="searchData">
        <div class="col-sm-6 repo-box" *ngFor="let item of searchData">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ item.full_name }}">
                  {{ item.full_name }}</a>
              </h5>
              <p class="repoDescription">{{ item.description }}</p>
              <span class="owner " style="float:left">Owner :
                <a href="{{ item.owner.html_url }}" target="_blank">{{ item.owner.login }}</a>
              </span>
              <span class=" updated-on" style="float:right  ">Updated on : {{ item.updated_at | date }}</span>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>





<!-- <div class="container search-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->
