<div class="container search-container">
  <form>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Repo" aria-label="Search Repo" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <i class="fa fa-search search-icon"></i>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid repo-container">

  <div class="card">
    <div class="card-header">
      Repositories that maches "angular5"
    </div>
    <div class="card-body">

      <div class="row">

        <div class="col-sm-6 repo-box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/dtrupenn/Tetris">
                  dtrupenn/Tetris</a>
              </h5>
              <p>A C implementation of Tetris using Pennsim through LC4</p>
              <span class="owner " style="float:left">Owner :
                <a href="https://api.github.com/users/dtrupenn" target="_blank">dtrupenn</a>
              </span>
              <span class=" updated-on" style="float:right  ">Updated on : Sat Jan 05 2013</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 repo-box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/dtrupenn/Tetris">
                  dtrupenn/Tetris</a>
              </h5>
              <p>A C implementation of Tetris using Pennsim through LC4</p>
              <span class="owner " style="float:left">Owner :
                <a href="https://api.github.com/users/dtrupenn" target="_blank">dtrupenn</a>
              </span>
              <span class=" updated-on" style="float:right  ">Updated on : Sat Jan 05 2013</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 repo-box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/dtrupenn/Tetris">
                  dtrupenn/Tetris</a>
              </h5>
              <p>A C implementation of Tetris using Pennsim through LC4</p>
              <span class="owner " style="float:left">Owner :
                <a href="https://api.github.com/users/dtrupenn" target="_blank">dtrupenn</a>
              </span>
              <span class=" updated-on" style="float:right  ">Updated on : Sat Jan 05 2013</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 repo-box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/dtrupenn/Tetris">
                  dtrupenn/Tetris</a>
              </h5>
              <p>A C implementation of Tetris using Pennsim through LC4</p>
              <span class="owner " style="float:left">Owner :
                <a href="https://api.github.com/users/dtrupenn" target="_blank">dtrupenn</a>
              </span>
              <span class=" updated-on" style="float:right  ">Updated on : Sat Jan 05 2013</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>





  <!-- <div class="container search-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->
