.search-container{
  padding: 50px;
}

.search-icon{
  font-size: 25px;
  padding-left: -20px;
  margin-left: -33px;
  z-index: 100;
  margin-top: 5px;
}

.owner{
  width: 50%;
  float: left;
  color: #828181;
}

.updated-on{
  float: left;
  color: #828181;
}

.repo-container{
    padding-bottom: 10px;
}

.repo-box{
  padding-bottom: 10px;
}

